<ion-header>
    <ion-toolbar>
      <ion-title>histories</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  <div>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="information">
        Information
      </ion-segment-button>
      <ion-segment-button value="list">
        List
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'information'">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="https://img.europapress.es/fotoweb/fotonoticia_20190302130725_640.jpg">
        </ion-avatar>
        <ion-label>Goose (Flerken)</ion-label>
      </ion-item>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Alias(es)</ion-label>
        </ion-item-divider>            
        <ion-item lines="none">
          <ion-label>Alias 1</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Alias 2</ion-label>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Species</ion-label>
        </ion-item-divider>            
        <ion-item lines="none">
          <ion-label>Species name</ion-label>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Gender</ion-label>
        </ion-item-divider>            
        <ion-item lines="none">
          <ion-label>Female</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <ion-list *ngSwitchCase="'list'">
      <app-list></app-list>
    </ion-list>      
  </div>
</ion-content>