<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card> 
    <ion-card-header>
      <ion-card-title>
        example name
      </ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="calendar" color="dark"></ion-icon>
        Sat Nov 9, 2019 - 12:55 PM
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      this is a test example, some long text to test the UI displaying a long description, more details about the example goes here. 
    </ion-card-content>
    <ion-item lines="none">
      <ion-button fill="outline" size="small"><ion-icon name="eye"></ion-icon></ion-button>
      <ion-button fill="outline" size="small" color="warning"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button fill="outline" size="small" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
      <ion-button slot="end" fill="outline" color="success">
        <ion-icon slot="end" name="checkbox-outline"></ion-icon>
        example
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-card> 
    <ion-card-header>
      <ion-card-title>
        example name
      </ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="calendar" color="dark"></ion-icon>
        Sat Nov 9, 2019 - 12:55 PM
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      this is a test example, some long text to test the UI displaying a long description, more details about the example goes here. 
    </ion-card-content>
    <ion-item lines="none">
      <ion-button fill="outline" size="small"><ion-icon name="eye"></ion-icon></ion-button>
      <ion-button fill="outline" size="small" color="warning"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button fill="outline" size="small" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
      <ion-button slot="end" fill="outline" color="success">
        <ion-icon slot="end" name="checkbox-outline"></ion-icon>
        Attend
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer padding>
  <ion-button expand="full">New example</ion-button>
</ion-footer>
